{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2017
  },
  "rules": {
    "arrow-body-style": [0],
    "default-case": [2],
    "eqeqeq": [2, "always", { "null": "ignore" }],
    "import/no-unresolved": [1],
    "no-irregular-whitespace": [2, {
      "skipStrings": true,
      "skipComments": true,
      "skipRegExps": true,
      "skipTemplates": true
    }],
    "no-param-reassign": [0],
    "no-underscore-dangle": [0],
    "no-unused-vars": [2],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "invalidHref", "preferButton" ]
    }],
    "react/destructuring-assignment": [0],
    "react/jsx-closing-tag-location": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": [0],
    "react/prefer-stateless-function": [0],
    "react/prop-types": [0],
    "strict": 0
  },
  "globals": {
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true,
    "window": true,
    "document": true
  }
}
